<h2>Le fichier a été correctement chargé</h2>
<p>EQCo2 pour l'ensemble des trajets présents dans le fichier : </p>
<pre>
    @Html.Raw(ViewBag.CSVContent)
</pre>
<a href="@Url.Action("Upload", "CSVUpload")">Upload another file</a>

<p> Résultat</p
@ViewBag.Line>
