@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calcul des distances</h1>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="FileUpload" asp-action="Upload">TXT</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CSVUpload" asp-action="Upload">CSV</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ExtractionCSV">Test</a>
    </div>
